<h1>Hello Digital Factory</h1>
<p>This is my exercise to Digital Factory - Colpatria: </p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://docs.microsoft.com/en-us/ef/core/miscellaneous/testing/in-memory'>Entity Framework in memory</a> for data storage and unit test isolate</li>
    <li><a href='https://www.nunit.org/'>NUnit</a> for unit test</li>
    
</ul>
